@use "./partials/variables" as *;
@use "./partials/mixins" as *;
@use "./partials/typography" as *;

*,
*::after,
*::before{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: "Avenir Next LT Pro";
}


// header section content
.header {
  width: 100%;
  //header nav
  &__nav {
    background-color: $primary-black;
    width: 100%;
    height: 14.7vh;
    padding-top: 0.625rem;
    
    @include tablet {
      height: 12vh;
      display: flex;
      align-items: center;
      text-align: center;
    }
  }

  &__nav-logo {
    margin: 0 auto;
    padding-top: 1rem;
    display: block;

    @include tablet{
      margin: auto 5rem auto 8rem;
      padding: 0;
    }
  }

  &__nav-links {
    width: 100%;
    display: flex;
    align-items: center;
    align-content: space-between;
    padding-top: 1.25rem; 

    @include tablet {
      //gap: 5px;
      padding-top: 0;
    }
  }

  &__nav-a {
    text-align: center;
    color: $primary-white;
    text-decoration: none;
    width: 50%;
    color: $primary-silver;
    line-height: 2.5rem;

    @include tablet {
      margin-right: 7rem;
      line-height: 4.8rem;
      width: 20%;
      margin-right: 2rem;
    }

    &:hover,
    &:active {
      border-bottom: 4px solid white;
      font-weight: bold;
      color: $primary-white;

    }
  }
}


// main section content
.main {
  //hero section
  &__hero {
    position: relative;
    background-color: rgba(50, 50, 50, 50);
  }

  &__hero-image {
    height: 38vh;
    width: 100%;
    opacity: 70%;
    display: block;

    @include tablet {
      height: 70vh;
    }

    @include desktop {
      height: auto;
    }
  }

  &__hero-text {
    position: absolute;
    top: 30%;
    left: 10%;
    width: 100%;
    height: 2.75rem;
    font-weight: bold;
    font-size: $section-header;
    color: $primary-white;

    @include tablet {
      font-size: $page-header;
    }
  }

  //musicians and photo gallary section
  &__section {
    margin: 1rem;
  }

  &__section-header {
    font-size: $section-header;
    margin: 1.5rem;
    font-weight: bold;
    

    @include tablet {
      padding-top: 4rem;
      margin: 4rem auto 4rem 2rem;
    }

    @include desktop {
      font-size: $page-header;
    }
  }

  &__section-subheader {
    padding: 2rem 0;
    font-size: $subheader;
    font-weight: bold;
  }

  &__section-div {
    @include tablet {
      margin: auto 6rem;
    }
  }

  &__section-img {
    width: 100%;

    @include tablet {
      width: 100%;
      height: 50vh;
    }
  }
  &__definition{
    padding-top: 2rem;
  }
  &__section-writer {
    font-weight: bold;
    padding-top: 1.2rem;
  }
  &__section-text {
    @include tablet {
      display: flex;
      gap: 2rem;
    }
  }
  &__section-p {
    font-weight: 400;
  }
}

// specifically  photo gallery content
.photo-gallery {
  background-color: $secondary-alabaster;
  margin: 1.5rem 1rem 1.5rem 0;
  box-sizing: border-box;

  @include tablet {
    //padding: 2rem 3rem 2rem 3rem;
  }

  &__imgs-div {
    margin-right: 1rem;
    @include tablet {
      flex-wrap: wrap;
      margin: auto auto 3rem auto;
      text-align: center;
    }
  }

  &__img {
    display: block;
    width: 100%;
    margin: 1rem 1rem;

    
    @include tablet {
      display: inline-flex;
      width: 28%;
      height: 20vh;
    }
  }
}


// footer content
.footer {
  background-color: $primary-black;
  padding: 1rem 2rem;
  color: $primary-white;

  @include tablet{
    padding: 3rem 5rem;
  }
  @include desktop {
    padding: 3rem 5rem;
  }

  &__div-container{
    @include tablet{
      display: flex;
    }
  }

  &__nav-and-contact {
    @include tablet {
      width: 75%;
    }
    @include desktop {
      justify-content: space-between;
    }
  }

  &__nav {
    @include tablet {
      display: flex;
      gap: 2rem;
      padding-bottom: 0.7rem;
    }
  }

  &__nav-header {
    @include tablet {
      margin: 0;
      font-size: $section-header;
    }

    @include desktop {
      
    }
  }

  &__nav-icons {   
    padding: 1rem 0; 
  }

  &__icon {
    padding-right: 2rem;
  }

  &__contact{
    @include tablet{
      display: flex;
    }
  }

  &__contact-div {
    @include tablet{
      padding-right: 2rem;
      margin: 2rem 0;
    }
    @include desktop {
      width: 28%;
      font-size: $body-copy;
    }
  }

  &__contact-text{
    padding: 1rem 0;
  }
  &__contact-text__bold{
    font-weight: bold;
  }
  
  // footer bandsite logo
  &__logo-img {
    margin-top: 4rem;

    @include tablet {
      margin: 0;
      height: 1.25rem;
      height: 3vh;
      width: 9.5rem;
    }
  }

  // footer copyright content
  &__copyright-text {
    padding-top: 1rem;
    @include desktop {
      font-size: $body-copy;
    }
  }
}
