@font-face {
  font-family: "Avenir Next LT Pro";
  src: url("../../assets/fonts/AvenirNextLTPro-Regular.woff2") format("woff2"), url("../../assets/fonts/AvenirNextLTPro-Regular.woff") format("woff"), url("../../assets/fonts/AvenirNextLTPro-Regular.otf") format("opentype");
  font-weight: 400;
}
@font-face {
  font-family: "Avenir Next LT Pro";
  src: url("../../assets/fonts/AvenirNextLTPro-Demi.woff2") format("woff2"), url("../../assets/fonts/AvenirNextLTPro-Demi.woff") format("woff"), url("../../assets/fonts/AvenirNextLTPro-Demi.otf") format("opentype");
  font-weight: 600;
}
@font-face {
  font-family: "Avenir Next LT Pro";
  src: url("../../assets/fonts/AvenirNextLTPro-Bold.woff2") format("woff2"), url("../../assets/fonts/AvenirNextLTPro-Bold.woff") format("woff"), url("../../assets/fonts/AvenirNextLTPro-Bold.otf") format("opentype");
  font-weight: 700;
}
.main {
  color: #323232;
}
.main__hero {
  position: relative;
  background-color: rgb(50, 50, 50);
}
.main__hero-image {
  height: 45vh;
  width: 100%;
  opacity: 50%;
  display: block;
}
@media screen and (min-width: 768px) {
  .main__hero-image {
    height: 70vh;
  }
}
@media screen and (min-width: 1024px) {
  .main__hero-image {
    height: 120vh;
  }
}
.main__hero-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}
@media screen and (min-width: 1024px) {
  .main__hero-container {
    flex-direction: row;
    gap: 7rem;
  }
}
.main__hero-text {
  position: relative;
  top: 5%;
  left: 5%;
  font-weight: bold;
  font-size: 2.25rem;
  color: #FFFFFF;
}
@media screen and (min-width: 768px) {
  .main__hero-text {
    font-size: 3.75rem;
    width: 60%;
  }
}
@media screen and (min-width: 1024px) {
  .main__hero-text {
    margin-top: 7rem;
    font-weight: normal;
    width: 40%;
    align-items: center;
  }
}
.main__hero-subtext {
  font-size: 1.5rem;
  margin-top: 2rem;
}
.main__hero-song {
  width: 80%;
  height: 40%;
  position: relative;
  margin: auto 10%;
}
@media screen and (min-width: 768px) {
  .main__hero-song {
    width: 60%;
    height: 25%;
    margin: 2rem;
  }
}
@media screen and (min-width: 1024px) {
  .main__hero-song {
    width: 40%;
    height: 25%;
    margin-top: 14rem;
  }
}
.main__hero-header {
  position: absolute;
  top: 30%;
  left: 10%;
  width: 100%;
  height: 2.75rem;
  font-weight: bold;
  font-size: 2.25rem;
  color: #FFFFFF;
}
@media screen and (min-width: 768px) {
  .main__hero-header {
    font-size: 3.75rem;
  }
}
.main__section-header {
  font-size: 2.25rem;
  margin: 1.5rem;
  font-weight: bold;
}
@media screen and (min-width: 768px) {
  .main__section-header {
    margin: 4rem auto 4rem 2rem;
  }
}
@media screen and (min-width: 1024px) {
  .main__section-header {
    font-size: 3.75rem;
  }
}

.header {
  width: 100%;
}
.header__nav {
  background-color: #323232;
  width: 100%;
  padding-top: 0.625rem;
}
@media screen and (min-width: 768px) {
  .header__nav {
    height: 16vh;
    display: flex;
    align-items: center;
    text-align: center;
  }
}
.header__nav-logo {
  margin: 0 auto;
  padding-top: 1rem;
  display: block;
}
@media screen and (min-width: 768px) {
  .header__nav-logo {
    margin: auto 5rem auto 8rem;
    padding: 0;
  }
}
.header__nav-links {
  width: 100%;
  display: flex;
  align-items: center;
  align-content: space-between;
  padding-top: 1.25rem;
}
@media screen and (min-width: 768px) {
  .header__nav-links {
    padding-top: 0;
  }
}
.header__nav-a {
  text-align: center;
  text-decoration: none;
  width: 50%;
  color: #E1E1E1;
  line-height: 2.5rem;
}
@media screen and (min-width: 768px) {
  .header__nav-a {
    margin-right: 7rem;
    line-height: 4.8rem;
    width: 20%;
    margin-right: 2rem;
  }
}
.header__nav-a:hover, .header__nav-a--active {
  border-bottom: 4px solid white;
  font-weight: bold;
  color: #FFFFFF;
}

.button {
  background-color: #323232;
  color: #FFFFFF;
  width: 100%;
  padding: 1rem;
  border-radius: 4px;
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-weight: bold;
  font-size: 0.75rem;
}
@media screen and (min-width: 768px) {
  .button {
    width: 25%;
    margin-left: 75%;
  }
}

.footer {
  background-color: #323232;
  padding: 1rem 2rem;
  color: #FFFFFF;
}
@media screen and (min-width: 768px) {
  .footer {
    padding: 3rem 5rem;
  }
}
@media screen and (min-width: 1024px) {
  .footer {
    padding: 3rem 5rem;
  }
}
@media screen and (min-width: 768px) {
  .footer__div-container {
    display: flex;
  }
}
@media screen and (min-width: 768px) {
  .footer__nav-and-contact {
    width: 75%;
  }
}
@media screen and (min-width: 1024px) {
  .footer__nav-and-contact {
    justify-content: space-between;
  }
}
@media screen and (min-width: 768px) {
  .footer__nav {
    display: flex;
    gap: 2rem;
    padding-bottom: 0.7rem;
  }
}
@media screen and (min-width: 768px) {
  .footer__nav-header {
    margin: 0;
    font-size: 2.25rem;
  }
}
.footer__nav-icons {
  padding: 1rem 0;
}
.footer__icon {
  padding-right: 2rem;
}
@media screen and (min-width: 768px) {
  .footer__contact {
    display: flex;
  }
}
.footer__contact-div {
  margin: 0.75rem 0;
}
@media screen and (min-width: 768px) {
  .footer__contact-div {
    padding-right: 2rem;
  }
}
@media screen and (min-width: 1024px) {
  .footer__contact-div {
    width: 28%;
    font-size: 0.875rem;
  }
}
.footer__contact-text {
  padding: 1rem 0;
  color: #FFFFFF;
  text-decoration: none;
}
.footer__contact-text__bold {
  font-weight: bold;
}
.footer__logo-img {
  margin-top: 4rem;
}
@media screen and (min-width: 768px) {
  .footer__logo-img {
    margin: 0;
    height: 1.25rem;
    height: 3vh;
    width: 9.5rem;
  }
}
.footer__copyright-text {
  padding-top: 1rem;
}
@media screen and (min-width: 1024px) {
  .footer__copyright-text {
    font-size: 0.875rem;
  }
}

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: "Avenir Next LT Pro";
}

.main__section {
  margin: 1rem;
}
.main__section-subheader {
  padding: 2rem 0;
  font-size: 1.5rem;
  font-weight: bold;
}
@media screen and (min-width: 768px) {
  .main__section-div {
    margin: auto 6rem;
  }
}
.main__section-img {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .main__section-img {
    width: 100%;
    height: 50vh;
  }
}
.main__definition {
  padding-top: 2rem;
}
.main__section-writer {
  font-weight: bold;
  padding-top: 1.2rem;
}
@media screen and (min-width: 768px) {
  .main__section-text {
    display: flex;
    gap: 2rem;
  }
}
.main__section-p {
  font-weight: 400;
}

.shows-container-date {
  font-weight: bold;
}

.photo-gallery {
  background-color: #FAFAFA;
  color: #323232;
  margin: 1.5rem 1rem 1.5rem 0;
  box-sizing: border-box;
}
.photo-gallery__imgs-div {
  margin-right: 1rem;
}
@media screen and (min-width: 768px) {
  .photo-gallery__imgs-div {
    flex-wrap: wrap;
    margin: auto auto 3rem auto;
    text-align: center;
  }
}
.photo-gallery__img {
  display: block;
  width: 100%;
  margin: 1rem 1rem;
  filter: grayscale(70%);
}
@media screen and (min-width: 768px) {
  .photo-gallery__img {
    display: inline-flex;
    width: 28%;
    height: 20vh;
  }
}
.photo-gallery__img:hover {
  filter: grayscale(0%);
}

.comment-section__container {
  display: flex;
  gap: 1rem;
  width: 100%;
  margin: 1rem;
}
@media screen and (min-width: 1024px) {
  .comment-section__container {
    width: 100%;
    padding: 1% 25%;
  }
}
.comment-section__profile-img {
  background-color: #AFAFAF;
  width: 2.25rem;
  height: 2.25rem;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}
@media screen and (min-width: 768px) {
  .comment-section__profile-img {
    width: 3rem;
    height: 3rem;
  }
}
.comment-section__form {
  width: 80%;
}
.comment-section__field {
  width: 100%;
  height: 10rem;
  border-radius: 4px;
  padding: 0.75rem;
  margin: 0.25rem auto;
  border: 1px solid #AFAFAF;
  background-color: #FAFAFA;
  color: #323232;
}
@media screen and (min-width: 768px) {
  .comment-section__field {
    padding: 1rem;
  }
}
.comment-section__field-name {
  height: 2.25rem;
}
.comment-section__label {
  font-size: 0.75rem;
  color: #AFAFAF;
  font-weight: bold;
}

.comments__container {
  margin: 2rem;
  font-size: 0.875rem;
}
@media screen and (min-width: 1024px) {
  .comments__container {
    width: 100%;
    padding: 1% 25%;
  }
}
.comments__container-section {
  border-top: 2px solid #E1E1E1;
  display: flex;
  gap: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
@media screen and (min-width: 768px) {
  .comments__container-section {
    margin: auto 5rem auto 3rem;
  }
}
.comments__container-profile-img {
  display: inline;
}
.comments__container-comment-details {
  display: inline;
  padding: auto 2rem;
  width: 95%;
}
.comments__container-name-date {
  display: flex;
  justify-content: space-between;
  padding-bottom: 1rem;
}
.comments__container-name {
  font-weight: bold;
}/*# sourceMappingURL=bio.css.map */